/* body {
  background-color: black;
} */

* {
  margin: 0;
  padding: 0;
}

.box {
  width: 80%;
  text-align: center;
  margin: 100px auto 100px;
}

span {
  display: block;
}
.button {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: solid black 2px;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#grey {
  background-color: grey;
  margin-top: 5px;
}
